@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TwitterBackup.Services.ViewModels.TwitterAccountViewModel;

<h2>User @Model.Name was found !</h2>