<link href="css/grayscale.min.css" rel="stylesheet">

<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<p class="intro-text">
						The best Twitter alternative!
						<br><br><br><br><br><br><br><br><br><br><br><br>
					</p>
				</div>
			</div>
		</div>
	</div>
</header>
<hr />
<footer>
	<p>&copy; 2018 - TwitterBackup</p>
</footer>