@using TwitterBackup.Services.ViewModels
@model IEnumerable<TwitterErrorViewModel>
@{
    ViewData["Title"] = "TwitterError";
}

@{
    foreach (var item in Model)
    {
        <h1 class="text-danger">Error <code>@item.Code</code></h1>
        <h2 class="text-danger">@item.Message</h2>
    }
}

